<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    
    <style>#map { height: 480px; }</style>
    
    <title>Document</title>
</head>

<body>
  <div id="map" class="z-10 min-h-screen flex flex-col" style="height: 700px"></div>

  <header class="fixed inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md border border-gray-100 bg-black bg-opacity-75 py-3 shadow backdrop-blur-lg md:top-6 md:rounded-3xl lg:max-w-screen-lg">
    <div class="px-4">
        <div class="flex items-center justify-between">
            <div class="flex shrink-0">
                <a aria-current="page" class="flex items-center" href="/">
                    <p class="text-white h-7 w-auto">Plotted Memories</p>
                </a>
            </div>
  
        <div class="hidden md:flex md:items-center md:justify-center md:gap-5">
            <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-white transition-all duration-200 hover:bg-gray-100 hover:text-gray-900" type="button">
                Upload an Image?
              </button>
        </div>
  
        <div class="flex items-center justify-end gap-3">
                <a class="inline-flex items-center justify-center rounded-xl bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm transition-all duration-150 hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"href="/logout">
                    Log Out
                </a>
            </div>
        </div>
    </div>
  </header>

<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
<div class="relative p-4 w-full max-w-2xl max-h-full">
  <!-- Modal content -->
  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
              New Location Entry
          </h3>
          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
          </button>
      </div>

      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
          <form class="max-w-lg mx-auto" id="uploadForm" action="#" method='POST'>
            <div class="mb-5">
                <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter the activites you did at the location.</label>
                <input type="text" id="captionInput" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <input type="file" id="fileInput" accept="image/*">
            <button type="submit">Submit</button>
          </form>
      </div>
  </div>
</div>
</div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

</html>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script>
  document.getElementById('uploadForm').addEventListener('submit', function(event) {
      event.preventDefault();
      var fileInput = document.getElementById('fileInput');
      var file = fileInput.files[0];
      var captionInput = document.getElementById('captionInput').value;

      if (file) {
          var reader = new FileReader();
          reader.onload = function(event) {
              var imageData = event.target.result;
              document.getElementById('uploadForm').insertAdjacentHTML('beforeend', '<input type="hidden" name="imageData" value="' + imageData + '">');
              document.getElementById('uploadForm').insertAdjacentHTML('beforeend', '<input type="hidden" name="captionInput" value="' + captionInput + '">')
              document.getElementById('uploadForm').submit();
          }
          reader.readAsDataURL(file);
      }
  });
  </script>

<script>
        var map = L.map('map').setView([51.505, -0.09], 13); // Set initial map view

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

      {% for image in user_images %}
          L.marker([{{ image.latitude }}, {{ image.longitude }}]).addTo(map)
              .bindPopup('<b>{{ image.caption }}</b><img src="{{ image.image_base64 }}" style="width:300px"> ').openPopup();
      {% endfor %}
                </script> 

<script>    </script>
