<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">

    <link rel="stylesheet" href="../static/styles.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
        body {
          --bs-font-sans-serif: 'Fraunces', sans-serif;
          --bs-body-font-family: var(--bs-font-sans-serif);
        }

      </style>

      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>

      <style>#map { height: 480px; }</style>
  
    <title>Home</title>
</head>

<body style="background: #ABABAB">
    <nav class="navbar navbar-expand-lg mb-lg-0" style="background-color: #ADDAFA;">
        <div class="container-fluid">
          <a class="navbar-brand text-dark" href="#">Plotted Memories</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                <form class="d-flex mx-auto p-2">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><u>F</u>ile</button>
                </form>
                <form class="d-flex mx-auto p-2">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=""><u>E</u>dit</button>
                </form>
                <form class="d-flex mx-auto p-2">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="""><u>V</u>iew</button>
                </form>
                <form class="d-flex mx-auto p-2">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=""><u>O</u>ptions</button>
                </form>
                <form class="d-flex mx-auto p-2">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal_1"><u>H</u>elp</button>
                </form>
            </div>
            <form class="d-flex">
              <button class="btn btn-outline-success" type="button">Sign Out</button>
            </form>
          </div>
        </div>
      </nav>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload New Image</h5> 
      </div>
      <div class="modal-body">
        <div>
          <form id="uploadForm" action="#" method='POST'>
            <input type="text" id="captionInput">
            <input type="file" id="fileInput" accept="image/*">
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    </div>

    <div class="modal fade" id="exampleModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">What is Plotted memories?</h5>
        </div>
        <div clprogramass="modal-body">
          This program is built to help you track where you have been by letting you upload photots and descriptions and then having the Cohere LLM generate short captions and summerized descriptions of your events so that you can look back on them.
        </div>
      </div>
    </div>
      </div>

    <div id="map"></div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
  </body>
</html>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"></script>

<script>
  document.getElementById('uploadForm').addEventListener('submit', function(event) {
      event.preventDefault();
      var fileInput = document.getElementById('fileInput');
      var file = fileInput.files[0];
      var captionInput = document.getElementById('captionInput').value;

      if (file) {
          var reader = new FileReader();
          reader.onload = function(event) {
              var imageData = event.target.result;
              document.getElementById('uploadForm').insertAdjacentHTML('beforeend', '<input type="hidden" name="imageData" value="' + imageData + '">');
              document.getElementById('uploadForm').insertAdjacentHTML('beforeend', '<input type="hidden" name="captionInput" value="' + captionInput + '">')
              document.getElementById('uploadForm').submit();
          }
          reader.readAsDataURL(file);
      }
  });
  </script>

<script>
    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker = L.marker([51.5, -0.09], {
        title: "Hover"
    }).addTo(map).bindPopup('<h1>New Marker</h1><p>Test 2pic</p><img src = "../static/test.png" style="width:300px">');

    var marker = L.marker([51.55, -0.095], {
        title: "New"
    }).addTo(map).bindPopup('<h1>New Marker</h1><p>Test 2 pic</p><img src = "../static/test.png" style="width: 300px">');
</script> 
