<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="static/css/output.css">
    
    <title>Document</title>
</head>

<body>
  <header class="fixed inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md border border-gray-100 bg-black bg-opacity-75 py-3 shadow backdrop-blur-lg md:top-6 md:rounded-3xl lg:max-w-screen-lg">
    <div class="px-4">
        <div class="flex items-center justify-between">
            <div class="flex shrink-0">
                <a aria-current="page" class="flex items-center" href="/">
                    <p class="text-white-900 h-7 w-auto">Plotted Memories</p>
                </a>
            </div>

        <div class="hidden md:flex md:items-center md:justify-center md:gap-5">
            <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-white-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900" type="button">
                Upload an Image?
              </button>
        </div>

        <div class="flex items-center justify-end gap-3">
                <a class="inline-flex items-center justify-center rounded-xl bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm transition-all duration-150 hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"href="/login">
                    Log Out
                </a>
            </div>
        </div>
    </div>
</header>

<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
<div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                New Location Entry
            </h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>

        <!-- Modal body -->
        <div class="p-4 md:p-5 space-y-4">
            <form class="max-w-lg mx-auto" id="uploadForm" action="#" method='POST'>
                <div class="mb-5">
                    <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter the activites you did at the location.</label>
                    <input type="text" id="captionInput" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="flex items-center justify-center w-full">
                    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                        </div>
                        <input id="fileInput" type="file" class="hidden" accept="image/*"/>
                    </label>
                </div> 
            </form>
        </div>
    </div>
</div>
</div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

</html>

<script>
  document.getElementById('uploadForm').addEventListener('submit', function(event) {
      event.preventDefault();
      var fileInput = document.getElementById('fileInput');
      var file = fileInput.files[0];
      var captionInput = document.getElementById('captionInput').value;

      if (file) {
          var reader = new FileReader();
          reader.onload = function(event) {
              var imageData = event.target.result;
              document.getElementById('uploadForm').insertAdjacentHTML('beforeend', '<input type="hidden" name="imageData" value="' + imageData + '">');
              document.getElementById('uploadForm').insertAdjacentHTML('beforeend', '<input type="hidden" name="captionInput" value="' + captionInput + '">')
              document.getElementById('uploadForm').submit();
          }
          reader.readAsDataURL(file);
      }
  });
  </script>

<script>
        var map = L.map('map').setView([51.505, -0.09], 13); // Set initial map view

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

      {% for image in user_images %}
          L.marker([{{ image.latitude }}, {{ image.longitude }}]).addTo(map)
              .bindPopup('<b>{{ image.caption }}</b><img src="{{ image.image_base64 }}" style="width:300px"> ').openPopup();
      {% endfor %}
                </script> 

<script>    </script>
