<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Firebase Auth</title>
  </head>
  <body>
    <form id="MainForm" class="w-25 m-4">
        <h2 class="mb-3">Sign In User</h2>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="emailInp" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="psswordInp" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>

          <button type="submit" class="btn btn-primary" style="float:right">Login</button>
          <a href="register.html"><button type="button" class="btn btn-primary" style="float:right">Sign Up</button></a>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-app.js";
        import { getDatabase, get, ref, child } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-database.js";
        import { getAuth, signInWithUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-analytics.js";

        const firebaseConfig = {
          apiKey: "AIzaSyDkvQPvsKTijPd1xT2h0nq0rkgNC2tb5Wk",
          authDomain: "uoft-hacks-11.firebaseapp.com",
          projectId: "uoft-hacks-11",
          storageBucket: "uoft-hacks-11.appspot.com",
          messagingSenderId: "876191096023",
          appId: "1:876191096023:web:0dc257012dfd30754fa492",
          measurementId: "G-KQTTPGFFMD"
        };
      

        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const db = getDatabase();
        const auth = getAuth(app);
        const dbref = ref(db);

        let emailInp = document.getElementById('emailInp');
        let passwordInp = document.getElementById('passwordInp');
        let MainForm = document.getElementById('MainForm');

        let SignInUser = evt => {
            evt.preventDefault();

            signInWithUserWithEmailAndPassword(auth, emailInp.value, passwordInp.value)
            .then((credentials) => {
                get(child(dbref, 'UsersAuthList/' + credentials.user.uid).then((snapshot) => {
                    if(snapshot.exist){
                        sessionStorage.setItem("user-info", JSON.stringify({
                            firstname: snapshot.val().firstname,
                            lastname: snapshot.val().lastname
                        }))
                        sessionStorage.setItem("user-credentials", JSON.stringify(credentials.user));
                        window.location.href = 'index.html'
                    }
                }))
            })
            .catch((error) => {
                alert(error.message);
                console.log(error.code);
                console.log(error.message);
            })
        }

        MainForm.addEventListener('submit', SignInUser);
      </script>
</body>
</html>